* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*=======
===FORM
=======*/
.form-banner img {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
